.custom-teacher-slider{
    position: absolute;
    margin-top: -90px;
    /* margin-left: 900px; */
}
.custom-teacher-slider .slick-prev:before,
.custom-teacher-slider .slick-next:before{
    color: transparent;
    display: none;
    
}

@media only screen and (min-width: 400px) {
    .custom-teacher-slider {
        margin-left: 300px;
        margin-top: -450px;
    }
}
@media only screen and (min-width: 600px) {
    .custom-teacher-slider {
        margin-left: 400px;
        margin-top: -150px;
    }
}

@media only screen and (min-width: 768px) {
    .custom-teacher-slider {
        margin-left: 500px;
        margin-top: -150px;
    }
}

@media only screen and (min-width: 992px) {
    .custom-teacher-slider {
        margin-left: 700px;
        margin-top: -100px;
    }
}
/* @media only screen and (min-width: 992px) {
    .custom-teacher-slider {
        margin-left: 650px;
        margin-top: -80px;
    }
} */
@media only screen and (min-width: 1200px) {
    .custom-teacher-slider {
        margin-left: 850px;
        margin-top: -180px;
    }
}

@media only screen and (min-width: 1400px) {
    .custom-teacher-slider {
        margin-left: 980px;
        margin-top: -110px;
    }
}
@media only screen and (min-width: 1500px) {
    .custom-teacher-slider {
        margin-left: 950px;
        margin-top: -80px;
    }
}